{# templates/page/about.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}À propos • Adopt A Friend{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1 class="mb-3">À propos</h1>
        <p class="lead">Adopt A Friend met en relation associations et adoptants pour offrir une nouvelle vie aux animaux.</p>
        <div class="row g-4 mt-2">
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5>Notre mission</h5>
                        <p class="mb-0">Faciliter l’adoption responsable, améliorer la visibilité des refuges, et réduire le temps d’attente des animaux.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5>Nos valeurs</h5>
                        <ul class="mb-0">
                            <li>Bien-être animal</li>
                            <li>Transparence</li>
                            <li>Inclusion & respect</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5>Comment ça marche ?</h5>
                        <ol class="mb-0">
                            <li>Recherchez un animal</li>
                            <li>Contactez l’association</li>
                            <li>Rencontrez, puis adoptez 🐾</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}