{% extends 'base.html.twig' %}

{% block header %}
    <main class="flex-shrink-0">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Adopt a friend</h1>
                    <p class="lead text-muted">Welcome, have a look a find your perfect BFF</p>
                    <p>
                        <a href="{{ path('animal_search') }}" class="btn btn-primary my-2">Chercher un animal</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="py-2 bg-light text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                {# TODO #}
                <button type="button" class="btn btn-primary active">Tous</button>
                <button type="button" class="btn btn-secondary">Chien</button>
                <button type="button" class="btn btn-secondary">Chat</button>
            </div>
        </div>

        <div class="album py-5 bg-light">
            <div class="container-fluid">
                <h2> Derniers animaux à l'adoption</h2>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
                    {% for animal in lastAnimals %}
                        {% include '/animal/include/_card.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="album py-5 bg-light">
            <div class="container-fluid">
                <h2> Plus vieux animaux à l'adoption</h2>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
                    {% for animal in oldestAnimals %}
                        {% include '/animal/include/_card.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}