{% extends 'base.html.twig' %}

{% block header %}
    <header class="bg-light text-center py-5 shadow-sm">
        <div class="container">
            <h1 class="display-4 fw-bold mb-3">🐶 Bienvenue sur Adopt a Friend 🐱</h1>
            <p class="lead mb-4">Trouvez votre futur compagnon parmi les animaux proposés à l’adoption.</p>

            <div class="d-flex justify-content-center gap-3 flex-wrap">
                <a href="{{ path('animal_search') }}" class="btn btn-primary btn-lg">
                    Voir les animaux à adopter
                </a>
                {% if app.user %}
                    <a href="{{ path('user_dashboard') }}" class="btn btn-outline-secondary btn-lg">
                        Mon profil
                    </a>
                {% else %}
                    <a href="{{ path('login') }}" class="btn btn-outline-secondary btn-lg">
                        Se connecter
                    </a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container-fluid px-5">
            <h2>Derniers animaux ajoutés</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
                {% for animal in lastAnimals %}
                    {% include '/animal/include/_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container-fluid px-5">
            <h2>Nouvelles associations</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
                {% for organisation in lastOrganisations %}
                    {% include '/organisation/include/_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
