{% extends 'base.html.twig' %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
                {% for animal in animals %}
                    {% include '/animal/include/card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}