{% extends 'base.html.twig' %}

{% block content %}

    <div class="container py-5">
        <h1 class="mt-5">Modifier mon animal</h1>
        <p class="lead">Modifier les infos de mon animal</p>

        {{ form(form) }}
    </div>

{% endblock %}