{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <h1 class="mt-5">Envoyer une demande d'adoption pour {{ animal.name }}</h1>

        <div class="row">
            <div class="col-md-4">
                {{ include('animal/include/_card.html.twig') }}
            </div>
            <div class="col-md-8">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}