{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Vos demandes d'adoptions</h1>
        {% include 'adoption-request/include/_list.html.twig' %}
    </div>
{% endblock %}
