<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block header %}
    {% include 'header/header.html.twig' %}
{% endblock %}

<div class="row">
    <div id="content">
        {% block body %}
        {% endblock %}
    </div>
</div>
<div class="row">
    {% block footer %}
        <footer>
            Fait avec <span class="glyphicon glyphicon-heart" style="color: #e4b9c0" aria-hidden="true"></span> par <a href="http://guillaumeprost.me/">Guillaume Prost</a>
        </footer>
    {% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js" defer></script>
        <script src="/build/app.js" defer></script>
        See note below about the "defer" attribute -->
{% endblock %}
</body>
</html>
