<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Adopt a Friend{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/> #}
</head>

<body class="d-flex flex-column h-100">

<header>
    {% block header %}
        {% include('includes/menu.html.twig') %}
    {% endblock %}
</header>
<main>
    {% block content %}

    {% endblock %}
</main>
{% block footer %}
    <footer class="footer mt-5 py-3 bg-light">
        <div class="container">
            <p class="mb-1">Made with love by Guillaume Prost</p>
            <p class="float-end mb-1 justify-content-end">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>
{% endblock %}
</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
