{% extends 'base.html.twig' %}

{% block content %}

    <div class="container py-5">
        <h1 class="mt-5">Créer une Association</h1>
        <p class="lead">Vous pouvez créer ici votre association, vous en serez le gérant</p>

        {{ form(form) }}
    </div>

{% endblock %}