{% extends 'base.html.twig' %}

{% block content %}

    <div class="container py-5">
        <h1 class="mt-5">Modifier votre Association</h1>
        <p class="lead">Mettez à jour votre association</p>

        {{ form(form) }}
    </div>

{% endblock %}