{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Bienvenue {{ app.user.firstName }} {{ app.user.name }}</h1>
        <br>

        <div class="row">
            <div class="col col-md-6">
                <h3> Votre association </h3>
                {% include '/organisation/include/_card.html.twig' with {'organisation': app.user.organisation, 'manage': true} %}
            </div>
            <div class="col col-md-6">
                <h3> Vos dernières demandes d'adoptions </h3>
                {% include 'adoption-request/include/_list.html.twig' %}
            </div>
        </div>
        <div class="row">
            {% if not app.user.organisation %}
                <div class="col col-md-6">
                    <button type="button" class="btn btn-primary" href="{{ url('organisation_create') }}">Créer une
                        association
                    </button>
                </div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% if app.user.animals|length > 0 %}
                <div class="col col-md-6">
                    <h3> Vos animaux </h3>
                </div>
                <div class="col col-md-6">
                    <a type="button" class="btn btn-primary" href="{{ url('animal_create', {'type':'dog'}) }}">Ajouter
                        un
                        animal à adopter</a>
                </div>

                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
                    {% for animal in app.user.animals %}
                        {% include '/animal/include/_card.html.twig' with {'manage': true} %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <br>
    </div>

{% endblock content %}