{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <h1 class="mt-5">Modifier {{ user.firstName }} {{ user.name }}</h1>


        {{ form(userForm) }}
    </div>

{% endblock %}